@import '../mixin';
@import '../variables';
@import '../Initializer.scss';
.app {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
.pageContent {
  position: absolute;
  left:0;
  right:0;
  top: $header-height;
  bottom: $footer-height;
  overflow-y:auto;
}
